
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-red: #fa7272;

  --vt-c-black: #1d1d1d;
  --vt-c-black-soft: #2d2d2d;
  --vt-c-black-mute: #4d4d4d;

  --vt-c-indigo: #262626;
  --linear-gradient: linear-gradient(90deg, #3c3c3c 0%, #444444 51.04%, #333333 100%);
}

/* Темная тема (по умолчанию) */
:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-text: var(--vt-c-black-soft);
  --color-background-btn: var(--vt-c-white);
  --color-background-block: var(--vt-c-indigo);
  --color-fill: var(--vt-c-white);
}

/* Светлая тема */
[data-theme="light"] {
  --color-background: var(--vt-c-white-mute);
  --color-background-soft: var(--vt-c-white-mute);
  --color-background-mute: var(--vt-c-white-mute);
  --color-text: var(--vt-c-white);
  --color-background-btn: var(--vt-c-black);
  --color-background-block: var(--vt-c-white);

  --linear-gradient: var(--vt-c-white-mute);
  --color-fill: var(--vt-c-black);
}

/* @media (prefers-color-scheme: white) {
  :root {
    --color-background: var(--vt-c-white);
    --color-background-mute: var(--vt-c-white-mute);
    --color-text: var(--vt-c-black-soft);
    --color-background-btn: var(--vt-c-black);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Inter", serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
